.error {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    color: $orange;
    flex-wrap: nowrap;
    font-size: x-large;
    gap: 5px;
    align-items: center;
}

.error img {
    margin-left: 7vw;
    width: 30vw;
    height: 30vw;
}

@media screen and (max-width: 683px) {
    .error img {
        margin-left: 7vw;
        width: 70vw;
        height: 70vw;
    }
}
