@mixin fonttitle($weight, $size) {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: $size;
    font-weight: $weight;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    .shoppingcart {
        .emptycart {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img {
                width: inherit;
            }
        }
        .button {
            display: flex;
            justify-content: center;
        }
        ul {
            display: flex;
            justify-content: center;
            li {
                img {
                    min-height: 15vw;
                    min-width: 15vw;
                }
                min-width: 85%;
                cursor: pointer;
                background-color: rgba($color: $background, $alpha: 0.2);
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                align-items: center;
                margin-top: 2vw;
                border-radius: 35px;
                max-width: 70vw;
                img {
                    max-height: 15vw;
                }
                @include fonttitle(500, x-large);
                text-decoration: none;
            }
            .title {
                @include fonttitle(500, xx-large);
            }
            li:hover {
                background-color: rgba($color: $background, $alpha: 0.5);
            }
            .shopprice {
                @include fonttitle(500, x-large);
                text-decoration: none;
            }
            .actionpart {
                display: flex;
                width: 10vw;
                justify-content: space-around;
            }
            .trash {
                display: flex;
                justify-content: center;
                svg {
                    transition: all 2s;
                }
                svg:hover {
                    fill: $orange;
                }
            }
        }
        .shoppricemobile {
            display: none;
        }
        .order {
            display: flex;
            flex-direction: column;
        }
        .but{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 1vw;
            align-items: flex-end;
            margin:2vw 0;
            align-items: stretch;
            flex-wrap: wrap;
            .phone{
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: flex-start;
                gap: 1vw;
            }
            .butt{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                gap: 4vw;
            }
            
        }
        @media screen and (max-width: 500px) {
            ul {
                display: flex;
                justify-content: column;
                align-items: center;
                li {
                    img {
                        min-height: 45vw;
                        min-width: 45vw;
                    }
                    min-height: 50vw;
                    @include fonttitle(400, medium);
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                }
                .title {
                    @include fonttitle(500, x-large);
                }
                .shopprice {
                    display: none;
                }
                .shoppricemobile {
                    display: block;
                }
                .trash {
                    svg {
                        width: 7vw;
                        height: 7vw;
                        stroke: black;
                    }
                }
            }
        }
        @media screen and (max-width:400px) {
            .but{
                margin: 1vw 1vw;
                overflow: hidden;
                .phone{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    input{
                        width: 75vw;
                    }
                    input::placeholder{
                        font-size: small;
                    }
                }
                .butt{
                    font-size: small;
                    align-items: center;
                    a:nth-child(1){
                        svg{
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
                
            }
        }
    }
}
