@mixin fonttitle($weight, $size) {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: $size;
    font-weight: $weight;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    .shoppingcart {
        ul {
            display: flex;
            justify-content: center;
            li {
                img {
                    min-height: 15vw;
                    min-width: 15vw;
                }
                min-width: 85%;
                cursor: pointer;
                background-color: rgba($color: $background, $alpha: 0.2);
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                align-items: center;
                margin-top: 2vw;
                border-radius: 35px;
                max-width: 70vw;
                img {
                    max-height: 15vw;
                }
                @include fonttitle(500, x-large);
                text-decoration: none;
            }
            .title {
                @include fonttitle(500, xx-large);
            }
            li:hover {
                background-color: rgba($color: $background, $alpha: 0.5);
            }
            .shopprice {
                @include fonttitle(500, x-large);
                text-decoration: none;
            }
            .actionpart {
                display: flex;
                width: 10vw;
                justify-content: space-around;
            }
            .trash {
                display: flex;
                justify-content: center;
                svg {
                    transition: all 2s;
                }
                svg:hover {
                    fill: $orange;
                }
            }
        }
        .shoppricemobile {
            display: none;
        }
        .order {
            display: flex;
            flex-direction: column;
        }
        @media screen and (max-width: 500px) {
            ul {
                display: flex;
                justify-content: column;
                align-items: center;
                li {
                    img {
                        min-height: 45vw;
                        min-width: 45vw;
                    }
                    min-height: 50vw;
                    @include fonttitle(400, medium);
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                }
                .title {
                    @include fonttitle(500, x-large);
                }
                .shopprice {
                    display: none;
                }
                .shoppricemobile {
                    display: block;
                }
                .trash {
                    svg {
                        width: 7vw;
                        height: 7vw;
                        stroke: black;
                    }
                }
            }
        }
    }
}
