.wrapper {
    width: 100%;

    .shoppingcart {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: inherit;
        ul {
            width: 80vw;
            li {
                cursor: pointer;
                background-color: rgba($color: $background, $alpha: 0.2);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                margin-top: 2vw;
                border-radius: 35px;
                max-width: 70vw;
                flex-grow: 1;
                img {
                    max-height: 15vw;
                }
            }
            span:nth-child(1) {
                font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                font-size: x-large;
                font-weight: 500;
                text-decoration: underline;
            }
            li:hover {
                background-color: rgba($color: $background, $alpha: 0.5);
            }
            .shopprice {
                font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                font-size: large;
                font-weight: 500;
            }
            .actionpart {
                display: flex;
                width: 10vw;
                justify-content: space-around;
            }
            .trash {
                svg {
                    transition: all 2s;
                }
                svg:hover {
                    fill: $orange;
                }
            }
        }
        .order {
            display: flex;
            flex-direction: column;
        }
    }
}
